body{
    margin: 0em;
    padding: 0em;
    height: 100%;
    min-width: 720px;
    font-family: arial, verdana, sans-serif;
    font-size: .8em;
}
section { display: block; }
image {
    border:0;
}
#border1 {
    	width: 80%;
        height: 80%;
        border: 1px solid #a9a9a9;

        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
}
div#main
{

}
div.headerBar
{

    background-image: url('../resources/images/default_banner_image.jpg');
    background-repeat: norepeat;
    background-position: right top;
    background-attachment: fixed;
    height: 256px;
}

div.content{
    float: right;
    width: 90%;
    min-height: 48em;
    padding-right: 32px;
}
#footerDiv{
    position:relative;
    clear:both;
    padding-left: 5px;
    line-height: 2em;
}